.banner__background {
    width: 100%;
    height: 450px;
    background-image: url("../img/CT-dichvu-banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 100px;
}

/*START Page to*/
.page-to-CT {
    background-color: #ffffff;
}

.page-CT__wrap {
    max-width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}
/*END Page to*/

/*START Tax service*/
.tax-service__wrap {
    width: 100%;
    padding: 64px 0 51px;
    display: flex;
    gap: 24px;
}

.tax-service--left {
    max-width: 68%;
}

.tax-service__title {
    color: #2f2f2f;
    font-size: 30px;
    margin-bottom: 32px;
}

.tax-service__text {
    color: #2f2f2f;
    text-align: justify;
    font-size: 16px;
    margin-bottom: 16px;
}

.tax-service__img {
    max-width: 750px;
    margin-bottom: 16px;
}

.tax-service__heading {
    color: #2f2f2f;
    font-size: 20px;
    margin-bottom: 16px;
}

.tax-service__list {
    margin-bottom: 8px;
}
.tax-service__item {
    display: flex;
    gap: 8px;
}

.tax-service__introduce {
    width: 100%;
    display: flex;
    gap: 5px;
}

.tax-service__sub-heading {
    color: #244691;
    font-size: 16px;
    margin-bottom: 16px;
}

.tax-service__contact {
    width: 50%;
}
.tax-service__suport {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
}

.tax-service__icon {
    color: #f21520;
}

.tax-service__link {
    text-decoration: none;
    color: #244691;
    font-size: 16px;
}
/*END Tax service*/

/*START Register*/
.register {
    max-width: 328px;
    background-color: #244691;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 30px 0;
    margin-bottom: 40px;
}

.register__title {
    text-align: center;
    padding: 0 25px;
    color: #ffffff;
}

.register__heading {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.register__sub-heading {
    font-size: 16px;
    font-weight: 400;
}

.register__box {
   width: 100%;
   padding: 0 16px;
}

.regiset__row {
    max-width: 296px;
}

.form--full {
    width: 100%;
    background-color: rgba(74, 144, 226, 0.5);
    backdrop-filter: blur(8px);
    border: none;
    padding: 8px 17px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    margin-bottom: 16px;
}

input::placeholder {
    color: #ffffff;
    font-size: 17px;
}

.register__height {
    margin-bottom: 24px;
}

.form--control {
    width: 100%;
    font-size: 18px;
    background-color: rgba(74, 144, 226, 0.5);
    backdrop-filter: blur(8px);
    border: none;
    padding: 8px 17px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
}

.register__submit-box {
    text-align: center;
}
.register__submit {
    color: #ffffff;
    width: 150px;
    height: 40px;
    background-color: #f21520;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
/*END Register*/

/*START article*/
.article {
    width: 100%;
}

.article__title {
    color: #2f2f2f;
    font-size: 24px;
    margin-bottom: 16px;
}

.article__underline {
    width: 165px;
    height: 2px;
    background-color: #244691;
    margin-bottom: 16px;
}

.article__list {
    margin-bottom: 24px;
}

.article__list-box {
    display: flex;
    gap: 15px;
    margin-bottom: 16px;
}

.article__underscore {
    width: 328px;
    height: 1px;
    background-color: #ebebeb;
    margin-bottom: 16px;
}
/*END article*/

/*START Service menu*/
.service-menu {
    width: 100%;
    background-color: #244691;
    padding: 24px 10px;
}

.service-menu__heading {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 6px;
}

.service-menu__underline {
    width: 186px;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 16px;
}

.service-menu__item {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.service-menu__underscore {
    width: 310px;
    height: 1px;
    background-color: #ebebeb;
    margin-bottom: 16px;
}
/*END Service menu*/

/*START Related service*/
.related-service {
    background-color: #f9f9f9;
}

.related-service__wrap {
    width: 100%;
    padding: 80px 0;
}

.related-service__title {
    color: #2f2f2f;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}

.related-service--top, .related-service--bottom {
    width: 100%;
    display: flex;
    gap: 24px;
}

.related-service--top {
    margin-bottom: 24px;
}

.related-service__box {
    width: 50%;
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 5px 14px 0px #00000014;
}

.related-service__img {
    max-width: 270px;
}

.related-service__content {
    border-bottom: 2px solid #244691;
    padding: 29px 16px;
}

.related-service__heading {
    color: #2f2f2f;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}

.related-service__text {
    color: #474747;
    font-size: 16px;
    margin-bottom: 14px;
}

.related-service__link {
    display: flex;
    gap: 38px;
}

.related-service__sub {
    color: #f21520;
    font-size: 16px;
    text-decoration: none;
}

.related-service__icon {
    color: #f21520;
}
/*END Related service*/

@media(max-width: 768px) {
    /*START Banner*/
     .banner__background {
        background-size: cover;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner__box {
        padding: 30px 60px;
    }
    /*END Banner*/

    /*START Page to*/
    .page-CT__wrap {
        max-width: 300px;
        padding: 10px 10px;
        margin-bottom: 0;
    }
    /*END Page to*/

    /*START Tax-service*/
    .tax-service__wrap {
        padding: 64px 0 51px;
        display: block;
    }

    .tax-service--left {
        max-width: 100%;
        padding: 0 15px;
    }

    .tax-service__img {
        max-width: 100%;
    }

    .tax-service__introduce {
        width: 100%;
        display: block;
    }

    .tax-service__introduce-img {
        width: 100%;
        margin-bottom: 30px;
    }

    .tax-service__contact {
        width: 100%;
        margin-bottom: 30px;
    }

    /*START Register*/
    .register {
        max-width: 100%;
    }

    .regiset__row {
        max-width: 100%;
    }   
    /*END Register*/

    /*START Article*/
    .article {
        padding: 0 20px;
    }
    /*END Article*/
    /*END Tax-service*/

    /*START Related service*/
    .related-service {
        background-color: #ffffff;
    }
    .related-service__wrap {
        width: 100%;
        padding: 0 0;
    }

    .related-service__title {
        text-align: center;
    }

    .related-service--top, .related-service--bottom {
        width: 100%;
        display: block;
    }

    .related-service--top {
        margin-bottom: 0;
    }

    .related-service__box {
        width: 100%;
        display: block; 
        text-align: center;
    }

    .related-service__img {
        width: 100%;
    }

    .related-service__content {
        border-bottom: none;
        padding: 29px 16px;
    }

    .related-service__link {
        display: block;
    }
    /*END Related service*/
}

